:root {
    --whitePrimary: #FFFFFF;
    --blackPrimary: #000000;

    --grayishDarkBluePrimary : #33323D;
    --slightlyPrimary: #5FB4A2;
    --darkBluePrimary: #203A4C;
    
    --veryLightGreySecondary: #FAFAFA;
    --lightGreySecondary: #EAEAEB;
    --brightRedSecondary: #F43030;
    
    --lightGreyTertiary: #33323D18;
    --lightMoreGreyTertiary: #ECECED;
    --brownTertiary: #575757;
    --regularGreyTertiary: #D7D7D7;
}

/* ------------------------------------------- */
/* ------------------ FONTS ------------------ */
/* ------------------------------------------- */

/* Ibarra Real Nova Regular */
@font-face {
    font-family: "IbarraRealNova";
    font-style: normal;
    font-weight: 400;
    src:  local(''), 
          url("../font/Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf");
}

/* Ibarra Real Nova Italic */
@font-face {
    font-family: "IbarraRealNova-italic";
    font-style: italic;
    font-weight: 400;
    src:  local(''),
          url("../font/Ibarra_Real_Nova/IbarraRealNova-Italic-VariableFont_wght.ttf");
}

/* Public Sans Regular */
@font-face {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: 400;
    src:  local(''), 
          url("../font/Public_Sans/PublicSans-VariableFont_wght.ttf");
}

/* Public Sans Italic */
@font-face {
    font-family: "PublicSans-italic";
    font-style: italic;
    font-weight: 400;
    src:  local(''), 
          url("../font/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf");
}


/* ------------------------------------------- */
/* ---------------- CONTAINER ---------------- */
/* ------------------------------------------- */

.container {
    margin: 0 auto;
  }
  /* @media (min-width: 48em){
    .container {
      margin: 0 3.2rem;
    }
  } */


  @media (min-width: 36em) {
    /* 36em * 16 = 576px */
    .container {
      max-width: 50rem;
    }
  }
  
  @media (min-width: 48em) {
    /* 48em * 16 = 768px */
    .container {
      max-width: 70rem;
    }
  }
  
  @media (min-width: 62em) {
    /* 62em * 16 = 992px */
    .container {
      max-width: 90rem;
    }
  }
  
  @media (min-width: 80em) {
    /* 80em * 16 = 1280px */
    .container {
      max-width: 110rem;
    }
  }
  
  /* @media (min-width: 105em) {
    .container {
      max-width: 128rem;
    }
  } */

/* ------------------------------------------- */
/* ----------------   RESET   ---------------- */
/* ------------------------------------------- */

body{
  font-size: 16px;
  font-family: "PublicSans", sans-serif;
  color: var(--grayishDarkBluePrimary);
}
h1,
h2{
  font-family: "IbarraRealNova", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
h2{
  font-size: 40px;
}
h3{
  font-family: "IbarraRealNova", sans-serif;
  font-size: 32px;
}
a {
  text-decoration: none;
}





/* ------------------------------------------- */
/* ----------------   HEADER  ---------------- */
/* ------------------------------------------- */


/* Header */

.container-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}


/* // ACTIVITY */

/* Desktop menu  add transition at the end */
.main-nav__list {
  position: absolute;
  top: calc(100% + 3.6rem);
  left: 10%;
  right: 0;
  display: block;
  transition: .3s;
  transform: translateX(-300%);
}
.main-nav__item{
  padding: 5rem 0;
}

.main-nav__link {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "PublicSans";
  font-weight: 400;
  text-transform: uppercase;
  color: var(--grayishDarkBluePrimary);
  text-decoration: none;
  transition: .3s;
}

.main-nav__link-actif {
  color:var(--slightlyPrimary);
}
@media screen and (max-width: 768px) {
  .main-nav__item{
    padding: 0;
  }
  .main-nav__list {
    width: 22rem;
    height: 18rem;
    top: 10rem;
    /* left: 10rem; */
    left: 46%;
    background-color: var(--grayishDarkBluePrimary);
    text-align: center;
  }

  .main-nav__link {
    color: var(--whitePrimary);
    padding-right: 3rem;
  }
  .main-nav__link:hover,
  .main-nav__link:focus{
    color: var(--slightlyPrimary);
  }
}

/* Mobile Menu */
.main-nav__toggler {
  display: grid;
  gap: .5rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin: 5rem 0;
}

.main-nav__bar {
  width: 2.1rem;
  height: 0.2rem;
  background-color: var(--grayishDarkBluePrimary);
  transition: .3s;
}

/* First element rotation when aria-expanded : true without [aria-expanded] */
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:first-child {
  transform: rotate(45deg);
}

/* Opacity 0 on the middle element when aria-expanded : [aria-expanded] true*/
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:not(:first-child):not(:last-child) {
  opacity: 0;
}

/* Last element rotation when aria-expanded : [aria-expanded] true*/
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:last-child {
  transform: rotate(-45deg);
}

/* Set transform origin */
.main-nav__bar:first-child {
  transform-origin: left top;
}

.main-nav__bar:last-child {
  transform-origin: left bottom;
}

/* reset origin transformation */

.main-nav__toggler[aria-expanded="true"] + .main-nav__list {
  transform: translateX(0);
}

/* I want to make the menu disappear from the tablet format  */

/* Media queries */
/* 
/* /* Medium devices (landscape tablets, 768px and up) --> we apply the following rules from 768 px ( > or = ) */
@media screen and (min-width: 49em) {
  .main-nav__list {
      position: static;
      display: flex;
      transform: none;
  }
  .main-nav__toggler {
      display: none;
  } 

}


/* ------------------------------------------- */
/* ---------  DIV BEFORE FOOTER   ------------ */
/* ------------------------------------------- */

.call-to-action-before-footer{
  /* display: flex;
  align-items: center;
  justify-content: space-between;*/
  margin: 14rem 0; 
  display: grid;
  grid-template-columns: 35rem 1fr 18rem;
  grid-row: auto;
  gap: 3rem;
  align-items: center;
  
}
.call-to-action-before-footer h2{
  font-size: 40px;
  text-align: left;
  line-height: 1.2;
}
.call-to-action-before-footer span{
  display: block;
} 
.line{
  border-top: 1px solid var(--lightGreySecondary);
}



/* ------------------------------------------- */
/* ----------------  FOOTER   ---------------- */
/* ------------------------------------------- */


.main-footer{
  background-color: var(--grayishDarkBluePrimary);
}
.container-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-logo-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav__list-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav__link-footer {
  padding-left: 4rem;
  font-family: "PublicSans";
  font-weight: 400;
  text-transform: uppercase;
  color: var(--whitePrimary);
  text-decoration: none;
}
.main-nav__link-footer:hover,
.main-nav__link-footer:focus{
  color:var(--slightlyPrimary);
}

.social-item {
  padding-left: 2rem;
}
.social-list{
  display: flex;
  margin: 4rem 0 4rem 0;
}

.social-item a{
 display: block;
  width: 3rem;
  height: 3rem;
}

.social-item a[href*="https://github.com/"]{
  background-image: url(../img/Home/Path.svg);
  background-repeat: no-repeat;
}
.social-item a[href*="https://twitter.com/"]{
  background-image: url(../img/Home/Path-1.svg);
  background-repeat: no-repeat;
}
.social-item a[href*="https://fr.linkedin.com/"]{
  background-image: url(../img/Home/Shape.svg);
  background-repeat: no-repeat;
}
/* Animation au hover sur les logo 
On augmente la taille du logo de 200% avec scale(2) */
.social-item a:hover, .social-item a:focus{
  transform: scale(2);
}
  
@media (max-width: 48em) {
  /* 48em * 16 = 768px */
  .container-logo-nav{
    display: block;
  }
  .container-logo-nav img{
    margin: 0 auto;
  }
  .footer-nav{
    margin: 0 auto;
  }
  .container-footer{
    display: block;
    text-align: center;
    padding: 3rem;
  }
  .main-nav__list-footer{
    display: block;
    margin-right: 3rem;
  }
  /* .container-logo{
    margin-left: 19rem;
  } */
  .social-list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-nav__item-footer{
    margin: 0;
    padding: 2rem 0;
  }
  .main-nav__item-footer:last-child{
    margin-bottom: 4rem;
  }
}




/* ------------------------------------------- */
/* ----------------   BOUTON  ---------------- */
/* ------------------------------------------- */



.btn-link-about-me{
  /* background-color: var(--darkBluePrimary); */
  background-color: rgba(32, 58, 76, 0.9);
  color: var(--whitePrimary);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  height:4.8rem;
  padding: 1.5rem;
  padding-left:2rem;
  padding-right: 4rem;
}
.btn-link-about-me::before{
  content:"";
  position: relative;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../img/Home/Group-3.svg);
  background-repeat: no-repeat;
  background-position:center;
  padding: 1.5rem 2.5rem;
  margin-right: 1.5rem;
  background-color: rgba(32, 58, 76, 1);
}
.btn-link-about-me:hover,
.btn-link-about-me:focus{
  /* background-color: var(--slightlyPrimary); */
  background-color: rgba(95, 180, 162, 0.9);
}

.btn-link-about-me:hover::before,
.btn-link-about-me:focus::before{
  content:"";
  position: relative;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../img/Home/Group-3-white.svg);
  background-repeat: no-repeat;
  background-position:center;
  padding: 1.5rem 2.5rem;
  margin-right: 1.5rem;
  background-color: rgba(95, 180, 162, 1);
}
.btn-link-about-me:disabled{
  background-color: rgba(234,234,235, 0.9);
}
.btn-link-about-me:disabled::before{
  background-color: rgba(234,234,235, 1);
  content:"";
  position: relative;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../img/Home/Group-3-white.svg);
  background-repeat: no-repeat;
  background-position:center;
  padding: 1.5rem 2.5rem;
  margin-right: 1.5rem;
}





.link-call-to-action{
  padding: 1.5rem 3.5rem;
  color: var(--grayishDarkBluePrimary);
  border: 1px solid var(--grayishDarkBluePrimary);
  text-transform: uppercase;
}
.link-call-to-action:hover,
.link-call-to-action:focus{
  color: var(--whitePrimary);
  background-color: var(--darkBluePrimary);
}
.link-call-to-action:disabled{
  color: var(--slightlyPrimary);
  border: 1px solid var(--lightGreySecondary);
}






/* ------------------------------------------- */
/* ----------------   HOME    ---------------- */
/* ------------------------------------------- */

.home-container{
  max-height: 75rem;
}

.hero-description{
  width: 44.5rem;
  height: 35.7rem;
  position: relative;
  bottom: 35.7rem;
  background-color: var(--veryLightGreySecondary);
}

.hero-description h1{
  text-align: left;
  letter-spacing: -0.45px;
  line-height: 1;
  padding: 5.8rem 5.5rem 5rem 0;
  margin-bottom: 1.4rem;
}

.home-presentation{
  display: grid;
  grid-template-columns: 54rem 1fr;
}
.presentation-description{
  width: 35rem;
  height:60rem;
  margin: 0 auto;
  border-top: 1px solid var(--lightGreySecondary);
  border-bottom: 1px solid var(--lightGreySecondary);
}

.presentation-description h2{
  text-align: left;
  font-size: 4rem;
  padding-top: 5.4rem;
}

.presentation-description p{
  text-align: left;
  padding: 2.2rem 0;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}




/* ------------------------------------------- */
/* -------------   PORTFOLIO    -------------- */
/* ------------------------------------------- */

.main-content-item{
  display: flex;
  margin-bottom: 8rem;
}
.main-content-description{
  width: 35rem;
  height:50rem;
  margin: 0 auto;
  border-top: 1px solid var(--lightGreySecondary);
  border-bottom: 1px solid var(--lightGreySecondary);
}

.main-content-item:nth-child(even) {
  flex-direction: row-reverse;
}

.main-content-description h2{
  margin-top: 11rem;
  font-weight: 900;
}
/* .main-content-description p{
  margin: 3rem auto;
  text-align: left;
  line-height: 1.8;
} */

/* commun au portfolio et au autres fichier du portfolio */
.card-paragraph{
  margin: 3rem auto;
  text-align: left;
  line-height: 1.8;
}

/* ---------------------------------------------------------------- */
/* -----    MANAGE / FYLO / BOOKMARK  / INSURE /     -------------- */
/* ---------------------------------------------------------------- */

/* general */
.main-content-portfollio{
  display: flex;
  justify-content: space-between;
  margin-top: 11rem;
}
.main-content-global{
  max-width: 35rem;
}
.main-content-global-right{
  max-width: 57%;
  text-align:left;
}

/* right block */
.main-content-global-left{
  max-width: 35rem;
  max-height: 50rem;
  border-top: 1px solid var(--lightGreySecondary);
  border-bottom: 1px solid var(--lightGreySecondary);
  text-align: left;
}
.main-content-global-left h2{
  margin-top: 5rem;
  font-weight: 900;
}
.main-content-global-left p:nth-child(3){
  margin: 2rem 0 1.5rem 0;
  color: var(--slightlyPrimary);
}
.main-content-global-left p:last-of-type{
  margin-bottom: 4rem;
  color: var(--slightlyPrimary); 
}

/* left block */
.main-content-global-right h3:first-of-type {
  margin-bottom: 3.4rem;
}

.main-content-global-right a:first-of-type{
  text-decoration: underline;
  color: var(--grayishDarkBluePrimary);
}
.main-content-list-portfollio li:first-of-type{
  padding-bottom: 3.2rem;
}
.main-content-list-portfollio li:last-of-type{
  margin-bottom: 6.4rem;
}


/* link into portfollio */

.component-link-portfollio{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.call-to-action-link-porfollio{
  width: 50%;
  padding: 4rem;
  border-top: 1px solid var(--lightGreySecondary);
  border-bottom: 1px solid var(--lightGreySecondary);
}
.call-to-action-link-porfollio:last-of-type{
  border-left:1px solid var(--lightGreySecondary);
  text-align: right;
  padding-right: 4rem;
}
.call-to-action-link-porfollio h3{
  color: var(--grayishDarkBluePrimary);
}
.call-to-action-link-porfollio p{
  color: var(--grayishDarkBluePrimary);
  
}

/* ARROW */
.link-width-arrow1::before{ 
  content:"";
  position: relative;
  display: flex;
  height: 16px; width: 16px;
	border: 1px solid var(--grayishDarkBluePrimary);
	border-width: 2px 2px 0 0;
	transform: rotate(225deg);
  top: 4rem;
  left: -4rem; 
}

.link-width-arrow2::before{
  content:"";
  position: relative;
  display: flex;
  height: 16px; width: 16px;
	border: 1px solid var(--grayishDarkBluePrimary);
	border-width: 2px 2px 0 0;
	transform: rotate(45deg);
  top: 4rem;
  left: 49rem;
} 

