:root {
    --whitePrimary: #FFFFFF;
    --blackPrimary: #000000;

    --grayishDarkBluePrimary : #33323D;
    --slightlyPrimary: #5FB4A2;
    --darkBluePrimary: #203A4C;
    
    --veryLightGreySecondary: #FAFAFA;
    --lightGreySecondary: #EAEAEB;
    --brightRedSecondary: #F43030;
    
    --lightGreyTertiary: #33323D18;
    --lightMoreGreyTertiary: #ECECED;
    --brownTertiary: #575757;
    --regularGreyTertiary: #D7D7D7;
}

/* ------------------------------------------- */
/* ------------------ FONTS ------------------ */
/* ------------------------------------------- */

/* Ibarra Real Nova Regular */
@font-face {
    font-family: "IbarraRealNova";
    font-style: normal;
    font-weight: 400;
    src:  local(''), 
          url("../font/Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf");
}

/* Ibarra Real Nova Italic */
@font-face {
    font-family: "IbarraRealNova-italic";
    font-style: italic;
    font-weight: 400;
    src:  local(''),
          url("../font/Ibarra_Real_Nova/IbarraRealNova-Italic-VariableFont_wght.ttf");
}

/* Public Sans Regular */
@font-face {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: 400;
    src:  local(''), 
          url("../font/Public_Sans/PublicSans-VariableFont_wght.ttf");
}

/* Public Sans Italic */
@font-face {
    font-family: "PublicSans-italic";
    font-style: italic;
    font-weight: 400;
    src:  local(''), 
          url("../font/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf");
}


/* ------------------------------------------- */
/* ---------------- CONTAINER ---------------- */
/* ------------------------------------------- */

.container {
    margin: 0 auto;
  }

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 36em) {
  .container {
    max-width: 32rem;
    margin: 0 auto;
  }
}

/* Extra Extra small phones */
@media screen and (max-width: 22em) {
  /* 20em * 16 = 320px */
  .container {
    max-width: 22rem;
    margin: 0 auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media screen and (min-width: 36em) {
    /* 36em * 16 = 576px */
    .container {
      max-width: 50rem;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media screen and (min-width: 48em) {
    /* 48em * 16 = 768px */
    .container {
      max-width: 70rem;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media screen and (min-width: 62em) {
    /* 62em * 16 = 992px */
    .container {
      max-width: 90rem;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (min-width: 80em) {
    /* 80em * 16 = 1280px   */
    .container {
      max-width: 110rem;
    }
  }
/*   
   @media (min-width: 105em) {
    .container {
      max-width: 128rem;
    }
  }  */

/* ------------------------------------------- */
/* ----------------   RESET   ---------------- */
/* ------------------------------------------- */

body{
  font-size: 16px;
  font-family: "PublicSans", Arial, Helvetica, sans-serif;
  color: var(--grayishDarkBluePrimary);
  background-color: var(--veryLightGreySecondary);
}
h1,
h2{
  font-family: "IbarraRealNova", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
}
h2{
  font-size: 40px;
}
h3{
  font-family: "IbarraRealNova", sans-serif;
  font-size: 32px;
}
p{
  opacity: 0.8;
}
a {
  text-decoration: none;
}


/* ------------------------------------------- */
/* ----------------   HEADER  ---------------- */
/* ------------------------------------------- */

.container-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

/* // ACTIVITY */

/* Desktop menu  add transition at the end */
.main-nav__list {
  position: absolute;
  top: calc(100% + 3.6rem);
  left: 10%;
  right: 0;
  display: block;
  transition: .3s;
  transform: translateX(-300%);
}
.main-nav__item{
  padding: 5rem 0;
}
.main-nav__link {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "PublicSans";
  font-weight: 400;
  text-transform: uppercase;
  color: var(--grayishDarkBluePrimary);
  text-decoration: none;
  transition: .3s;
}
.main-nav__link-actif {
  color:var(--slightlyPrimary);
}
.main-nav__link:hover,
.main-nav__link:focus{
  color:var(--slightlyPrimary);
  text-decoration: underline;
}
.main-nav__link-actif:hover,
.main-nav__link-actif:focus{
  color: var(--grayishDarkBluePrimary);
  text-decoration: underline;
}
@media screen and (max-width: 36em) {
  .main-nav__item{
    padding: 0;
  }
  .main-nav__list {
    width: 22rem;
    height: 18rem;
    top: 10rem;
    /* left: 10rem; */
    left: 32%;
    background-color: var(--grayishDarkBluePrimary);
    text-align: center;
  }
  .main-nav__link {
    color: var(--whitePrimary);
    padding-right: 3rem;
  }
  .main-nav__link:hover,
  .main-nav__link:focus{
    color: var(--slightlyPrimary);
  }
}
@media screen and (max-width: 20em) {
  /* 20em * 16 = 320px */
  .main-nav__list {
    left: 21%;
  }
}
/* Mobile Menu */
.main-nav__toggler {
  display: grid;
  gap: .5rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin: 5rem 0;
}
.main-nav__bar {
  width: 2.1rem;
  height: 0.2rem;
  background-color: var(--grayishDarkBluePrimary);
  transition: .3s;
}
/* First element rotation when aria-expanded : true without [aria-expanded] */
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:first-child {
  transform: rotate(45deg);
}
/* Opacity 0 on the middle element when aria-expanded : [aria-expanded] true*/
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:not(:first-child):not(:last-child) {
  opacity: 0;
}
/* Last element rotation when aria-expanded : [aria-expanded] true*/
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:last-child {
  transform: rotate(-45deg);
}
/* Set transform origin */
.main-nav__bar:first-child {
  transform-origin: left top;
}
.main-nav__bar:last-child {
  transform-origin: left bottom;
}
/* reset origin transformation */
.main-nav__toggler[aria-expanded="true"] + .main-nav__list {
  transform: translateX(0);
}
/* I want to make the menu disappear from the tablet format  */
/* Media queries */
/* 
/* /* Medium devices (landscape tablets, 768px and up) --> we apply the following rules from 768 px ( > or = ) */
@media screen and (min-width: 36em) {
  .main-nav__list {
      position: static;
      display: flex;
      transform: none;
  }
  .main-nav__toggler {
      display: none;
  } 
}


/* ------------------------------------------- */
/* ----------------   BOUTON  ---------------- */
/* ------------------------------------------- */

.btn-link-about-me{
  /* background-color: var(--darkBluePrimary); */
  background-color: rgba(32, 58, 76, 0.9);
  color: var(--whitePrimary);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  height:4.8rem;
  padding: 1.5rem;
  padding-left:2rem;
  padding-right: 4rem;
}
.btn-link-about-me::before{
  content:"";
  position: relative;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../img/Home/Group-3.svg);
  background-repeat: no-repeat;
  background-position:center;
  padding: 1.5rem 2.5rem;
  margin-right: 1.5rem;
  background-color: rgba(32, 58, 76, 1);
}
.btn-link-about-me:hover,
.btn-link-about-me:focus{
  background-color: rgba(95, 180, 162, 0.9);
}
.btn-link-about-me:hover::before,
.btn-link-about-me:focus::before{
  content:"";
  position: relative;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../img/Home/Group-3-white.svg);
  background-repeat: no-repeat;
  background-position:center;
  padding: 1.5rem 2.5rem;
  margin-right: 1.5rem;
  background-color: rgba(95, 180, 162, 1);
}
/* .btn-link-about-me:disabled{
  background-color: rgba(234,234,235, 0.9);
} */
.btn-link-about-me:disabled::before{
  background-color: rgba(234,234,235, 1);
  content:"";
  position: relative;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../img/Home/Group-3-white.svg);
  background-repeat: no-repeat;
  background-position:center;
  padding: 1.5rem 2.5rem;
  margin-right: 1.5rem;
  cursor: not-allowed;
}
.link-call-to-action{
  padding: 1.5rem 3.5rem;
  color: var(--grayishDarkBluePrimary);
  border: 1px solid var(--grayishDarkBluePrimary);
  text-transform: uppercase;
}
.link-call-to-action:hover,
.link-call-to-action:focus{
  color: var(--whitePrimary);
  background-color: var(--darkBluePrimary);
}
/* .link-call-to-action:disabled{
  color: var(--slightlyPrimary);
  border: 1px solid var(--lightGreySecondary);
} */


/* ------------------------------------------- */
/* ----------------   HOME    ---------------- */
/* ------------------------------------------- */

.home-container-hero{
  max-height: 65rem;
}
.hero-description{
  max-width: 44.5rem;
  height: 35.7rem;
  position: relative;
  bottom: 35.7rem;
  background-color: var(--veryLightGreySecondary);
}
.hero-description h1{
  text-align: left;
  letter-spacing: -0.45px;
  line-height: 1;
  padding: 5.8rem 5.5rem 5rem 0;
  margin-bottom: 1.4rem;
}
.home-presentation{
  display: grid;
  grid-template-columns: 50rem 1fr;
}
.presentation-description{
  width: 35rem;
  min-height:60rem;
  margin: 0 auto;
  border-top: 1px solid var(--lightGreySecondary);
  border-bottom: 1px solid var(--lightGreySecondary);
}

.presentation-description h2{
  text-align: left;
  font-size: 4rem;
  padding-top: 5.4rem;
}
.presentation-description p{
  text-align: left;
  padding: 2.2rem 0;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 62em){
  .hero-illustration-bcg-img {
    background-image: url(../img/Home/img-illustration-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60rem;
    margin-left: .1rem;
  }
  .hero-illustration-home-page{
    display:none;
  }
  .home-presentation{
    grid-template-columns: 28rem 1fr;
    column-gap: 7rem;
  }
  .presentation-illustration-bck-img{
    background-image: url(../img/Home/portrait-home-tablet.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60rem;
  }
  .presentation-illustration-home-page{
    display:none;
  }
  .hero-description{
    max-width: 51rem;
    height: 27.1rem;
    bottom: 27rem;
  }
  .hero-description h1{
    font-size: 40px;
    margin-bottom: .7rem;
  }
}
@media screen and (max-width: 48rem){
  .home-container-hero{
    max-height: 60rem;
  }
  .hero-illustration-bcg-img {
    max-height: 30rem;
    background-size: cover;
  }
  .hero-description{
    margin-top: 27rem;
  }
  .hero-description h1{
    padding: 1rem 0 2.8rem 0;
  }
  .presentation-illustration-bck-img{
    background-image: none;
    max-height: 34rem;
    margin-bottom: 5rem;
  }
  .presentation-illustration-home-page{
    display:block;
  }
  .home-presentation{
    display:block;
    margin-top: 1rem;
  }
  .presentation-description{
    width: 100%;
    margin-top: 25rem;
    min-height: 50rem;
  }
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 36em) {
  /* .home-container-hero{
    max-height: 60rem;
  } */
  .hero-illustration-bcg-img {
    /* max-height: 30rem; */
    background-size: contain;
  }
  /* .hero-description{
    margin-top: 27rem;
  }
  .hero-description h1{
    padding: 1rem 0 2.8rem 0;
  } */
  /* .presentation-illustration-bck-img{
    background-image: none;
    max-height: 34rem;
    margin-bottom: 5rem;
  } */
  /* .presentation-illustration-home-page{
    display:block;
  } */
  /* .home-presentation{
    display:block;
    margin-top: 1rem;
  } */
  .presentation-description{
    /* width: 100%; */
    min-height: 65rem;
    margin-top: 0;
  }
}
/* Extra Extra small phones */
@media screen and (max-width: 20em) {
  .hero-illustration-bcg-img {
    max-height: 25rem;
  }
  .presentation-illustration-bck-img{
    margin-bottom: 2rem;
  }
  .presentation-description h2{
    padding-top: 2rem;
  }
  .presentation-description{
    min-height: 80rem;
  }
}


/* ------------------------------------------- */
/* -------------   PORTFOLIO    -------------- */
/* ------------------------------------------- */

.main-content-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.main-content-description{
  width: 35rem;
  min-height:50rem;
  /* margin: 0 auto; */
  margin-left: 7rem;
  border-top: 1px solid var(--lightGreySecondary);
  border-bottom: 1px solid var(--lightGreySecondary);
}
.main-content-item:nth-child(even) {
  flex-direction: row-reverse;
}
.main-content-description h2{
  margin-top: 11rem;
  font-weight: 900;
}

/* commun au portfolio et au autres fichier du portfolio */
.card-paragraph{
  margin: 3rem auto;
  text-align: left;
  line-height: 1.8;
}
@media screen and (max-width: 70em) {
  .main-content-description-mg-r{
    padding-right: 5rem;
  }
}
@media screen and (max-width: 62em){
  .main-content-item{
    padding: 5rem 0;
    margin-bottom: 0;
  }
  .main-content-illustration{
    max-width: 34rem;
    margin: 5rem auto;
  }
  .main-content-description{
    margin-left: 7rem;
    min-height: 48rem;
  }
  .main-content-description-mg-r{
    margin: 0 7rem 0 0;
  }
  .main-content-description h2{
    font-weight: 700;
    margin: 0;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 48em) {
  .main-content-item{
    display: block;
    padding: 0;
    margin: 0 auto;
  }
  .main-content-description{
    width: 100%;
    margin: 0 auto;
    min-height: 40rem;
  }

}
@media screen and (max-width: 36em) {
  .main-content{
    margin-top: -3rem;
  }
  /* .main-content-item{
    display: block;
    padding: 0;
    margin: 0 auto;
  } */
  /* .main-content-description{
    width: 100%;
    margin: 0 auto;
    min-height: 40rem;
  } */
  .main-content-illustration {
    margin: 3rem auto;
  }
  .card-paragraph{
    margin: 1rem 0 3rem 0;
  }
}
@media screen and (max-width: 22rem){
  .main-content-description{
    width: 100%;
    margin: 0 auto;
    min-height: 45rem;
  }
}

/* ---------------------------------------------------------------- */
/* -----    MANAGE / FYLO / BOOKMARK  / INSURE /     -------------- */
/* ---------------------------------------------------------------- */

/* general */
.main-content-portfollio{
  display: flex;
  justify-content: space-between;
  margin-top: 11rem;
}
.main-content-global{
  max-width: 35rem;
}
.main-content-global-right{
  max-width: 57%;
  text-align:left;
}

/* left block */
.main-content-global-left{
  max-width: 35rem;
  max-height: 50rem;
  border-top: 1px solid var(--lightGreySecondary);
  border-bottom: 1px solid var(--lightGreySecondary);
  text-align: left;
}
.main-content-global-left h2{
  margin-top: 5rem;
  font-weight: 900;
}
.main-content-global-left p:nth-child(3){
  margin: 2rem 0 1.5rem 0;
  color: var(--slightlyPrimary);
}
.main-content-global-left p:last-of-type{
  margin-bottom: 4rem;
  color: var(--slightlyPrimary); 
}

/* right block */
.main-content-global-right h3:first-of-type {
  margin-bottom: 3.4rem;
}
.main-content-global-right a:first-of-type{
  text-decoration: underline;
  color: var(--grayishDarkBluePrimary);
}
.main-content-global-right a:first-of-type:hover,
.main-content-global-right a:first-of-type:focus{
  text-decoration: underline;
  color: var(--slightlyPrimary); 
}
.main-content-list-portfollio li:first-of-type{
  padding-bottom: 3.2rem;
}
.main-content-list-portfollio li:last-of-type{
  margin-bottom: 6.4rem;
}
@media screen and (max-width: 62em){
  .main-content-portfollio{
    display: block;
  }
  .main-content-global{
    max-width: 100%;
  }
  .main-content-global-left h2{
    margin-top: 3.7rem;
    font-weight: 700;
  }
  .main-content-global-left p:nth-child(3){
    margin: 1rem 0 .5rem 0;
  }
  .main-content-global-left p:last-of-type{
    margin-bottom: 2rem;
  }
  .card-paragraph{
    line-height: 2;
    padding-top: 1rem;
  }
  .grid-1{
    grid-area : header-left;
  }
  .grid-2{
    grid-area : main-component;
  }
  .grid-3{
    grid-area : littel-p-left;
  }
  .grid-4{
    grid-area : second-p-left;
  }
  .grid-5{
    grid-area : footer-call-to-action;
    margin-bottom: 3.3rem;
  }
  .main-content-global-left{
    max-width: 100%;
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: .5rem;
    grid-template-columns : repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header-left main-component"
                        "littel-p-left main-component"
                        "second-p-left main-component"
                        "footer-call-to-action main-component";
  }
  .main-content-global-right{
    display:block;
    max-width: 100%;
  }
  .main-content-global-right h3{
    padding-top: 4rem;
  }
  .component-portfollio-illustration h3{
    padding-top: 0;
  }
  .main-content-item-illustration img{
    min-width: 100%;
  }
}
@media screen and (max-width: 36em) {
 .main-content-global-left{
  display: block;
 }
 .main-content-portfollio {
  margin: 4rem auto;
}
.main-content-global-left h2{
  margin-top: 2rem;
}
.card-paragraph{
  padding: 0;
  font-size: 15px;
}
.main-content-global-left p:nth-child(3){
  margin: 2rem 0 1.5rem 0;
  font-size: 13px;
}
.main-content-global-left p:last-of-type{
  margin-bottom: 3rem;
  font-size: 13px;
}
}

/* link into portfollio */
.component-link-portfollio{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.call-to-action-link-porfollio{
  width: 50%;
  padding: 4rem;
  border-top: 1px solid var(--lightGreySecondary);
  border-bottom: 1px solid var(--lightGreySecondary);
}
.call-to-action-link-porfollio:last-of-type{
  border-left:1px solid var(--lightGreySecondary);
  text-align: right;
  padding-right: 4rem;
}
.call-to-action-link-porfollio h3{
  color: var(--grayishDarkBluePrimary);
}
.call-to-action-link-porfollio p{
  color: var(--grayishDarkBluePrimary);
}
.call-to-action-link-porfollio:hover,
.call-to-action-link-portfollio:focus{
background-color: var(--lightMoreGreyTertiary);
transition: 3s;
}

/* ARROW */
.link-width-arrow1::before{ 
  content:"";
  position: relative;
  display: flex;
  height: 16px; width: 16px;
	border: 1px solid var(--grayishDarkBluePrimary);
	border-width: 2px 2px 0 0;
	transform: rotate(225deg);
  top: 4rem;
  left: -3.7rem; 
}
.link-width-arrow2::before{
  content:"";
  position: relative;
  display: flex;
  height: 16px; width: 16px;
	border: 1px solid var(--grayishDarkBluePrimary);
	border-width: 2px 2px 0 0;
	transform: rotate(45deg);
  top: 4rem;
  left: 49rem;
} 
@media screen and (max-width: 80em) {
  .link-width-arrow2::before{
    left: 39rem;
  } 
}
@media screen and (max-width: 62em){
  .link-width-arrow2::before{
    left: 29rem;
  } 
}
@media screen and (max-width: 48em){
  .link-width-arrow2::before{
    left: 19rem;
  } 
}

/* Extra Extra small phones */
@media screen and (max-width: 25em) {
  .main-content-global-left{
    min-height: 55rem;
  }
  .link-width-arrow2::before{
    left: 10rem;
    top: -2.1rem;
  } 
  .call-to-action-link-porfollio:last-of-type{
    /* padding: 7.4rem 0 2rem 0; */
    padding: 5.2rem 0 4.2rem 0;
  }
}
@media screen and (max-width: 36em) {
  .main-content-global-left{
    min-height: 40rem;
  }
  .call-to-action-link-porfollio{
    display: block;
    padding: 5rem 0 2rem 0;
  }
  .call-to-action-link-porfollio:last-of-type{
    padding: 5rem 0 2rem 0;
 }
 .link-width-arrow2::before{
   left: 14rem;
   top: -2rem;
 } 
 .link-width-arrow1::before{ 
   top: -2rem;
   left: 0;
 }
 }

/* ------------------------------------------- */
/* -------------    CONTACT     -------------- */
/* ------------------------------------------- */

.component-contact{
  display: flex;
  justify-content: space-between;
}
.component-contact-description-form{
  max-width: 57%;
}
.component-contact{
  border-top: 1px solid var(--lightGreySecondary);
  padding-top: 5rem;
}
.component-contact h2{
  margin-top: -1rem;
}
.last-title-contact{
  margin-top: 2rem;
}
.social-list-contact{
  display: flex;
  margin: 4rem 0 4rem 0;
}
.social-item-contact a{
 display: block;
  width: 3rem;
  height: 3rem;
}
.social-item-contact {
  padding-right: 2rem;
  
}
.social-item-contact a[href*="https://github.com/"]{
  background-image: url(../img/Contact-Me/Path.svg);
  background-repeat: no-repeat;
}
.social-item-contact a[href*="https://twitter.com/"]{
  background-image: url(../img/Contact-Me/Path-1.svg);
  background-repeat: no-repeat;
}
.social-item-contact a[href*="https://fr.linkedin.com/"]{
  background-image: url(../img/Contact-Me/Shape.svg);
  background-repeat: no-repeat;
}
.social-item-contact a:hover, .social-item-contact a:focus{
  transform: scale(2);
}
.form-contact{
  width: 100%;
}
label{
  font-family: "PublicSans";
  font-weight: 700;
  font-size: 13px;
  color:var(--grayishDarkBluePrimary);
  margin-bottom: .5rem;
}
.form-contact input,
.form-contact textarea{
  width : 100%; 
  background-color: rgba(51,50,61, 0.1);
  border: 1px solid transparent;
  padding: 1.6rem;
  margin: 1.5rem 0 3rem 0;
  resize: none; /* permet de ne pas modifier la taille du textarea  */
}
input::placeholder,
textarea::placeholder{
  color:rgba(51,50,61, 0.4);
  font-family: "PublicSans";
  font-size: 13px;
}
input:focus,
textarea:focus{
  border: 1px solid var(--slightlyPrimary);
  color: var(--grayishDarkBluePrimary);
  outline: 0;
}
input[type="submit"]{
  background-color: var(--darkBluePrimary);
  font-family: "PublicSans";
  color: var(--whitePrimary);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  max-width: 200px;
  margin-top: -3rem;
  margin-bottom: 10rem;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
  background-color: rgba(95, 180, 162, 0.9);
}
/* input[type=submit]:disabled{
  background-color: rgba(234,234,235, 0.9);
  cursor: not-allowed;
} */
@media screen and (max-width: 62em){
  .component-contact{
    display: block;
  }
  .component-contact-description-form {
    max-width: 100%;
  }
}
@media screen and (max-width: 36em) {
  .component-contact-description-form p{
    font-size: 15px;
  }
}


/* 
.input-disabled{
  background-color: rgba(234,234,235, 0.9);
  cursor: not-allowed;
} */
.error{
  color: var(--brightRedSecondary);
  display:flex; 
  font-family: "IbarraRealNova";
  font-weight: 700;
  font-size: 16px;
}




/* ------------------------------------------- */
/* ---------  DIV BEFORE FOOTER   ------------ */
/* ------------------------------------------- */

.call-to-action-before-footer{
  /* display: flex;
  align-items: center;
  justify-content: space-between;*/
  margin: 14rem 0; 
  display: grid;
  grid-template-columns: 35rem 1fr 18rem;
  grid-row: auto;
  gap: 3rem;
  align-items: center;
  
}
.call-to-action-before-footer h2{
  font-size: 40px;
  text-align: left;
  line-height: 1.2;
}
.call-to-action-before-footer span{
  display: block;
} 
.line{
  border-top: 1px solid var(--lightGreySecondary);
}
@media screen and (max-width: 48rem){
  .call-to-action-before-footer{
    display: block;
    text-align: center;
    margin: 5rem auto;
  }
  .call-to-action-before-footer h2{
    padding-bottom: 4rem;
    text-align: center;
  }
  .line{
    display: none;
  }
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 36em) {
  .call-to-action-before-footer{
    display: block;
    text-align: center;
    margin: 5rem auto;
  }
  .call-to-action-before-footer h2{
    padding-bottom: 4rem;
  }
  .line{
    display: none;
  }
}
/* Extra Extra small phones */
@media screen and (max-width: 20em) {
  .call-to-action-before-footer h2 {
    text-align: center;
  }
}


/* ------------------------------------------- */
/* ----------------  FOOTER   ---------------- */
/* ------------------------------------------- */

.main-footer{
  background-color: var(--grayishDarkBluePrimary);
}
.container-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-logo-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav__list-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav__link-footer {
  padding-left: 4rem;
  font-family: "PublicSans";
  font-weight: 400;
  text-transform: uppercase;
  color: var(--whitePrimary);
  text-decoration: none;
}
.main-nav__link-footer:hover,
.main-nav__link-footer:focus{
  color:var(--slightlyPrimary);
}
.social-item {
  padding-left: 2rem;
}
.social-list{
  display: flex;
  margin: 4rem 0 4rem 0;
}
.social-item a{
 display: block;
  width: 3rem;
  height: 3rem;
}
.social-item a[href*="https://github.com/"]{
  background-image: url(../img/Home/Path.svg);
  background-repeat: no-repeat;
}
.social-item a[href*="https://twitter.com/"]{
  background-image: url(../img/Home/Path-1.svg);
  background-repeat: no-repeat;
}
.social-item a[href*="https://fr.linkedin.com/"]{
  background-image: url(../img/Home/Shape.svg);
  background-repeat: no-repeat;
}
/* Animation au hover sur les logo 
On augmente la taille du logo de 200% avec scale(2) */
.social-item a:hover, .social-item a:focus{
  transform: scale(2);
}
@media (max-width: 48em) {
  /* 48em * 16 = 768px */
  .container-logo-nav{
    display: block;
  }
  .container-logo-nav img{
    margin: 0 auto;
  }
  .footer-nav{
    margin: 0 auto;
  }
  .container-footer{
    display: block;
    text-align: center;
    padding: 3rem;
  }
  .main-nav__list-footer{
    display: block;
    margin-right: 3rem;
  }
  .social-list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-nav__item-footer{
    margin: 0;
    padding: 2rem 0;
  }
  .main-nav__item-footer:last-child{
    margin-bottom: 4rem;
  }
  .main-nav__item-footer img{
    margin: 0 48%;
  }
}
@media screen and (max-width: 22em) {
  .footer-nav{
    min-width: 18rem;
    margin-left: -1rem;
  }
}
